--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.0+cu121
torchvision==0.18.0+cu121
omegaconf==2.3.0
torchmetrics==0.10.3
xformers

# dev
black==22.6.0

# custom
tensorboard
wandb
matplotlib==3.6.1
plotly==5.13.1
imageio
imageio-ffmpeg
timm==0.9.5
pyquaternion
scikit-image==0.20.0
vedo
numpy
ninja
tqdm
gdown

# Nuscenes dependencies
nuscenes-devkit
